﻿@page
@model OnePatient.Pages.Patients.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Patient.NRIC" class="control-label"></label>
                <input asp-for="Patient.NRIC" class="form-control" />
                <span asp-validation-for="Patient.NRIC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.First_Name" class="control-label"></label>
                <input asp-for="Patient.First_Name" class="form-control" />
                <span asp-validation-for="Patient.First_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Last_Name" class="control-label"></label>
                <input asp-for="Patient.Last_Name" class="form-control" />
                <span asp-validation-for="Patient.Last_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Gender" class="control-label"></label>
                <input asp-for="Patient.Gender" class="form-control" />
                <span asp-validation-for="Patient.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Age" class="control-label"></label>
                <input asp-for="Patient.Age" class="form-control" />
                <span asp-validation-for="Patient.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Race" class="control-label"></label>
                <input asp-for="Patient.Race" class="form-control" />
                <span asp-validation-for="Patient.Race" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Email" class="control-label"></label>
                <input asp-for="Patient.Email" class="form-control" />
                <span asp-validation-for="Patient.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patient.Drug_Allergy" class="control-label"></label>
                <input asp-for="Patient.Drug_Allergy" class="form-control" />
                <span asp-validation-for="Patient.Drug_Allergy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
