﻿@page
@model OnePatient.Pages.Patients.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.NRIC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.NRIC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.First_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.First_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Last_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Last_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Race)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Race)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Drug_Allergy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Drug_Allergy)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Patient.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
