﻿@page
@model OnePatient.Pages.Patients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].NRIC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Race)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Drug_Allergy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NRIC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Race)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drug_Allergy)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
